@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
    margin: 0;
}

:root {
    --bg: #4D566F;
    --bgaccent: #383F51;
    --surface: #D5CAD6;
    --primary: hsl(224°, 19%, 37%);
    --accent: #4D6698;
    --text: #EFEFF0;
    --text2: #A8A8A8;
}

body {
    background-color: var(--bg);
}

.incon {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

.fourohfourtext {
    font-size: 65px;
}

.fofgoback {
    line-height: 15px;
    font-size: 20px;
    transition-duration: 0.4s;
}

.fofgoback:hover {
    cursor: pointer;
    color: var(--text2);
}

#lost-container {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 60px;
    align-items: center;
}
