@use "../../global/global.scss" as *;

.margin-fix-other-ui {
    margin-top: 10px;
}

.queue-wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 10px;
    z-index: 1001;
    position: fixed;
    width: 100vw;
    overflow-y: auto;
    max-height: 400px;
    background-color: transparent;
    pointer-events: none;
}

.queue-wrapper > * {
    pointer-events: auto;
}

.queue-inner-wrapper {
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: $odd;
    border: 1px solid darken($background-color, 20%);
    text-align: center;
    width: 250px;
}

.queue-inner-wrapper:hover {
    transition-duration: 0.3s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.queue-message-nothing {
    color: $background-color;
    background-color: $odd;
}

.queue-song-name {
    background-color: $odd;
    color: $background-color;
}

.queue-remove-song {
    background-color: $odd;
    border: 2px solid $text-1;
    color: $background-color;
    cursor: pointer;
    transition-duration: 250ms;
}

.queue-remove-song:hover {
    cursor: pointer;
    color: lighten($background-color, 40%);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}